adium-theme-ubuntu==0.3.4
amqp==1.4.6
ansible==1.7.1
anyjson==0.3.3
apt-xapian-index==0.45
asyncio==3.4.3
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.19
boto==2.15.0
celery==3.1.17
celery-once==0.1.1
certifi==14.5.14
chardet==2.0.1
Cheetah==2.4.4
click==6.6
colorama==0.2.5
command-not-found==0.3
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
dirspec==13.10
Django==1.7.4
django-celery==3.1.16
django-cors-headers==1.1.0
django-extensions==1.5.5
django-fsm==2.2.0
django-secure==1.0.1
django-session-security==2.3.1
django-sslserver==0.15
django-tastypie==0.12.1
dnspython==1.11.1
docutils==0.12
duplicity==0.6.23
expiringdict==1.1.4
Flask==0.11.1
flower==0.7.3
gevent==1.0.1
google-api-python-client==1.4.0
greenlet==0.4.5
gunicorn==19.3.0
html5lib==0.999
httplib2==0.9.1
iotop==0.6
ipython==1.2.1
itsdangerous==0.24
Jinja2==2.8
JSON-log-formatter==0.0.2
jsonfield==1.0.3
kombu==3.0.24
libvirt-python==1.2.2
lockfile==0.8
lxml==3.3.3
MarkupSafe==0.23
mercurial==2.8.2
MySQL-python==1.2.5
ndg-httpsclient==0.4.2
oauth2==1.5.211
oauth2client==1.4.7
oauthlib==0.7.2
oneconf==0.3.7.14.4.1
PAM==0.4.2
paramiko==1.10.1
pexpect==3.1
phonenumbers==7.0.4
phonenumberslite==7.2.8
pika==0.10.0
Pillow==2.3.0
piston-mini-client==0.7.5
psutil==1.2.1
psycopg2==2.6.1
pyasn1==0.2.3
pyasn1-modules==0.0.5
pycountry==1.10
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygeoip==0.2.5
pygobject==3.12.0
PyJWT==1.1.0
pyOpenSSL==0.13.1
pyserial==2.6
pysmbc==1.0.14.1
python-apt===0.9.3.5ubuntu2
python-dateutil==2.4.2
python-debian===0.1.21-nmu2ubuntu2
python-magic==0.4.15
python-mimeparse==1.5.2
python-openid==2.2.5
pytz==2014.10
pyxdg==0.25
PyYAML==3.11
pyzmq==14.5.0
raven==5.0.0
redis==2.10.3
reportlab==3.0
requests==2.5.1
requests-oauthlib==0.4.2
rsa==3.1.4
s3cmd==2.0.1
sessioninstaller==0.0.0
simple-salesforce==0.67.0
simplegeneric==0.8.1
simplejson==3.6.5
singledispatch==3.4.0.3
six==1.9.0
software-center-aptd-plugins==0.0.0
ssh-import-id==3.21
stevedore==0.14.1
sugarcrm==0.3.2
system-service==0.1.6
timezones==1.8.2
tornado==4.3
Twisted-Core==13.2.0
Twisted-Web==13.2.0
unity-lens-photos==1.0
uritemplate==0.6
urlgrabber==3.9.1
urllib3==1.7.1
vboxapi==1.0
virtinst==0.600.4
virtualenv==15.0.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
Werkzeug==0.11.10
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xdiagnose===3.6.3build2
zope.interface==4.0.5
